{% extends 'base.html' %}

{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend>{{legend}}</legend>
        <div>
            {{ form.title.label(class='form-control-label') }}

            {% if form.title.errors %}
                {{ form.username(class='form-control is-invalid') }}
                <div class="invalid feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.title(class='form-control') }}
            {% endif %}
        </div>
        <div>
            {{ form.content.label(class='form-control-label') }}

            {% if form.content.errors %}
                {{ form.content(class='form-control is-invalid') }}
                <div class="invalid feedback">
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.content(class='form-control') }}
            {% endif %}
        </div>
    </fieldset>
        <div class="form-group">
            {{form.submit(class='btn')}}
        </div>
</form>
{% endblock content%}
