{% extends 'base.html' %}

{% block content %}
<div id="header">
    <img id="logo" src="../static/base_pics/logo.png">
</div>
<div id="background-gradient"></div>
<div id="event-cards">
    {% for event in events %}
    <div class="event-card">
    <img class="event-flier" src="{{url_for('static', filename='flier_pics/' + event.picture)}}"/>
    <h1>{{event.name}}</a></h1>
    <p>{{event.category}}</p>
    <h2>{{event.date}}</h2>
    <p>{{event.author.username}}</p>
    <p>{{event.description}}</p>

    
    </div>
    {% endfor %}
</div>
{% endblock %}

