{% extends 'base.html' %}

{% block content %}
    <div class='content-section'>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Log-in</legend>
                <div>
                    {{ form.email.label(class='form-control-label') }}

                    {% if form.email.errors %}
                        {{ form.username(class='form-control is-invalid') }}
                        <div class="invalid feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='form-control') }}
                    {% endif %}
                </div>
                <div>
                    {{ form.password.label(class='form-control-label') }}

                    {% if form.password.errors %}
                        {{ form.password(class='form-control is-invalid') }}
                        <div class="invalid feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class='form-control') }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class='form-check-input')}}
                    {{ form.remember.label(class='form-check-label')}}
                </div>
            </fieldset>
                <div class="form-group">
                    {{form.submit(class='btn')}}
                </div>
            <small><a href='#'>Forgot password?</a></small>
            <small>Need an Account? <a href="{{url_for('register')}}">Register here</a></small>
        </form>
    </div>

{% endblock content %}